body{text-align: center; margin: 0px; background: ghostwhite; font-family: sans-serif;}
header{padding: 10px; background: black; color: ghostwhite; letter-spacing: .1em; font-size: 1.5em; box-shadow: 0px 2px 5px grey;}
.input-field{display: inline-block; padding: 30px 60px; background: black; color: ghostwhite; border-radius: 5px;}
.name{padding: 5px; font-size: 1.2em; text-align: center; border-radius: 5px; border: none;}
.counter{font-size: 1.5em;}
.greet-btn{border: solid 1px; padding: 10px 50px; border-radius: 5px; font-family: monospace; font-weight: bolder; background: black; color: ghostwhite; cursor: pointer;}
.greet-btn:hover{background: ghostwhite; color: black;}
.name-div{display: inline-block; padding: 50px 120px; background: black; border-radius: 5px}
.display{padding: 10px 100px; background: ghostwhite; font-family: sans-serif;}
