body {
    background: linear-gradient(180deg, maroon, maroon, white) no-repeat;
    margin-top: 10px;
}

h1 {
    border-style: outset;
    border-color: #333;
    text-align: center;
    font-size: 6em;
    font-family: sans-serif;
    background: rgba(1, 1, 1, 0.7);
    color: ghostwhite;
    opacity: 0.8;
    padding-bottom: 20px;
    margin-top: 10px;
}

#cut {
    background: rgba(3, 3, 3, 0.8);
    opacity: 0.56;
    clear: both;
    margin-top: -60px;
    padding: 20px;
    border-spacing: 100px;
}

#counter {
    font-family: sans-;
    color: navajowhite;
    font-size: 50px;
    margin: -45px 150px 0px 150px;
}

#reset {
    background: maroon;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: sans-;
    color: white;
    
}

#reset:hover {
    width: 70px;
}
h2 {
    color: antiquewhite;
    margin: -30px 0px 0px 0px;
}

#radio {
    
}

#radio p {
    padding: 10px;
    font-size: 30px;
    display: inline;
    color: whitesmoke;
}

#name {
    text-align: center;
    font-size: 50px;
    padding: 0px 0px 10px 0px;
    clear: both;
    background: rgba(2, 2, 2, 0.3);
    color: #555;
}

input {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: sans-;
    color: black;
    opacity: 0.9
}

#button {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    opacity: 0.9;
}

#click {
    font-family: impact;
    font-size: 30px;
    background: maroon;
    color: white;
    margin-top: -10px;
    margin-bottom: -10px;
}

#click:hover {
    width: 146px;
    height: 55px;
}

#greet {
    color: antiquewhite;
    width: 99%;
    margin-top: -30px;
    padding: 0px;
    font-size: 3em;
    font-family: sans-serif;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -40px;
    text-align: center;
}

footer img {
    border-radius: 50%;
}




